pandas 
numpy
#openpyxl
#Jinja2
plotly
streamlit
#phik==0.12.1
#pydantic-settings
streamlit-option-menu
streamlit-aggrid 
streamlit-plotly-events
streamlit-lottie 
streamlit-folium
streamlit-extras
ydata-profiling
streamlit-pandas-profiling

scikit-learn
sklearn.preprocessing
joblib
utils